
body {
  background-color: rgb(10, 160, 160);
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgb(255, 255, 255);
}

p {
  font-family: "Trebuchet MS";
  font-size: 18px;
  text-align: left;
  padding-left: 25px;
  color: rgb(255, 255, 255);
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}

#login-button {
    line-height: 12px;
    width: 150px;
    margin-top: 10px;
    margin-right: 1280px;
    position:absolute;
    top:0;
    right:0;
}


