<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Aashna Saxena</h1>
    <button id="login-button" class="btn btn-default" type="button" onclick="toggleSignIn()">
      Log In
    </button>
  </div>



  <section id="add-post">
    <h2 class="create-team">
      Create a Team
    </h2>

    <form id="message-form" action="#">
      <div class="form-group">
        <label for="new-post-body">
          Enter your selections below:
        </label>
        <select id="new-post-body" name="members" multiple>
          <option value="kate">Kate McKinnon</option>
          <option value="kenan">Kenan Thompson</option>
          <option value="cecily">Cecily Strong</option>
          <option value="aidy">Aidy Bryant</option>
        </select>

        <button id="add-post" type="submit" class="btn btn-default" onclick="handleMessageFormSubmit()">
          Add post
        </button>

      </div>




    </form>
  </section>

</body>

</html>